/* Main stuff, setting font, making the site dark themed, aligning to center and defining moobcraft colors */
:root {
    font-family: "Open Sans";
    font-size: 1em;
    text-align: center;
    background-color: black;
    color: white;
    --moobcraftBlue: #A6C3FC;
    --moobcraftPink: #ECADFE;
}

/* main header, make it scale along with the screen width and make it glow */
h1, h1 span {
    font-size: 5vw;
    text-shadow: 0 0 15px;
    font-weight: 500;
    font-family: "Comfortaa";
}

/* secondary header, used only for contact currently */
h2 {
    font-size: 1.5em;
}

/* links should be the moobcraft blue color without an underline */
a {
    color: var(--moobcraftBlue);
    text-decoration: none;
}

/* visited links will be moobcraft pink */
a:visited {
    color: var(--moobcraftPink);
}

/* links will glow a bit when you hover over them */
a:hover {
    text-shadow: 0 0 15px;
}

.ezHighlight {
    -webkit-user-select: all; 
    -ms-user-select: all;
    user-select: all;
}

/* make discord thingy look how it should */
iframe.discord {
    border: 0px;
    border-radius: 4px;
}

/* classes used in the main header to define the two colors */
.moob {
    color: var(--moobcraftBlue);
}
.craft {
    color: var(--moobcraftPink);
}
