/* Main stuff, setting font, making the site dark themed, aligning to center and defining moobcraft colors */
:root {
    font-family: "Open Sans";
    font-size: 1em;
    text-align: center;
    background-color: black;
    color: white;
    --moobcraftBlue: #A6C3FC;
    --moobcraftPink: #ECADFE;
    width: 40em;
    margin: auto;
}

/* the fonts */
@font-face {
    font-family: "Comfortaa";
    src: url(assets/Comfortaa.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(assets/OpenSans-Regular.ttf);
}

/* main header, make it scale along with the screen width and make it glow */
h1 {
    font-size: 4em;
    text-shadow: 0 0 15px;
    font-weight: 300;
    font-family: "Comfortaa";
}

/* secondary header, used only for contact currently */
h2 {
    font-size: 1.5em;
}

/* links and .moob classes should be the moobcraft blue color and links shouldn't have an underline */
a, .moob {
    color: var(--moobcraftBlue);
    text-decoration: none;
}

/* visited links will be moobcraft pink */
a:visited, .craft {
    color: var(--moobcraftPink);
}

/* links and click-to-highlight stuff will glow a bit when you hover over them */
a:hover, .ezHighlight:hover {
    text-shadow: 0 0 15px;
}

.ezHighlight {
    -webkit-user-select: all; 
    -ms-user-select: all;
    user-select: all;
}
